.mainchart {
    border: 1px solid green;
    /* text-align: center; */
}

.chart {
    border: 1px solid red;
}

.navbar {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

li {
    float: right;
    margin-left: 20px;
}

a :hover {
    text-decoration: none;
}